<!-- Content Heading -->
<% if (title) { %>
    <h1 id="add-inventory"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message -->
<%- messages() %>

<!-- Form -->
<div class="add-inventory">
    <form class="newInv" action="./add-inventory" method="post">
        <legend>Add New Vehicle Inventory</legend>
        <label for="inv_make">Vehicle Make:</label><br>
        <input type="text" id="inv_make" name="inv_make" required><br>
        <label for="inv_model">Vehicle Model:</label><br>
        <input type="text" id="inv_model" name="inv_model" required><br>
        <label for="inv_year">Vehicle Year:</label><br>
        <input type="text" id="inv_year" name="inv_year" required><br>
        <label for="inv_description">Vehicle Description:</label><br>
        <input type="text" id="inv_description" name="inv_description" required><br>
        <label for="inv_price">Vehicle Price:</label><br>
        <input type="text" id="inv_price" name="inv_price" required><br>
        <label for="inv_miles">Vehicle Miles:</label><br>
        <input type="text" id="inv_miles" name="inv_miles" required><br>
        <label for="inv_color">Vehicle Color:</label><br>
        <input type="text" id="inv_color" name="inv_color" required><br>
        <legend class="carClass">Vehicle Classification:</legend>
        <%- carClass %>
        <div class="button">
          <input type="submit" class="newInvButton" value="Create New Inventory"> 
        </div>
    </form>
</div>